.header {
  background-color: #4479D4;
  color: white;
}

.block {
  display: grid;
  grid-template-areas: "h n";
  grid-template-columns: 2fr 10fr;    
  margin-top: 18px;
}

.app {
  grid-area: h;
  display: flex;
  justify-content: center;
}

.exit {
  grid-area: n;
  display: flex;
  justify-content: end;
}

.button {
  font-size: 15px;
  border: none;
  background: none;
  color: white;
}

.button:hover {
  color: grey;
}

.button:active {
  color: white;
}

@media (max-width: 768px) {
  .block {
    grid-template-columns: 3fr 9fr;
  }
  .block {
    margin-top: 8px;
  }
  
}

@media (max-width: 360px) {
  .app {
    display: none;
  }
}
