.login {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;    
    border-radius: 20px;
    background-color: #e6e6e6;
    width: 60%;
    box-shadow: 0px 5px 5px lightgray;
}

.login h1 {
    font-size: 35px;
    font-weight: 400;
}

.block {
    padding: 20px;
}

.inputs {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.input {
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
    margin-top: 10px;
}

button {
    padding: 5px 15px;
    color: #0000cc;
}

@media (max-width: 641px) {
    .login {
        margin-top: 50px;
        width: 80%;
    }
    .inputs {
        width: 80%;
    }
  }

  @media (max-width: 320px) {
    .login {
        margin-top: 30px;
        width: 90%;
    } 
    .inputs {
        width: 100%;
    }
  } 